button {
  margin-top: 5px !important;
}

div {
  text-align: center;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.content {
  display: flex;
  flex-direction: row;
}

label {
  margin-bottom: 15px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  align-items: center;
}

mat-radio-group {
  display: flex;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
