<div class="container">
  <h1>
    Adapter Pattern (Wrapper)
  </h1>
  <div class="content">
    <mat-card>
      <mat-card-title>
        Cat
      </mat-card-title>
      <mat-card-subtitle>
        It's only a cat
      </mat-card-subtitle>
      <mat-card-actions>
        <button mat-raised-button (click)="btnCatSound()" color="primary">Make sounds</button>
      </mat-card-actions>
      <mat-card-content>
        <div *ngFor="let catSound of catSounds">
          {{ catSound }}
        </div>
      </mat-card-content>

    </mat-card>
    <mat-card>
      <mat-card-title>
        Toy
      </mat-card-title>
      <mat-card-subtitle>
        It's only a toy
      </mat-card-subtitle>
      <mat-card-actions>
        <button mat-raised-button (click)="btnToySound()" color="primary">Make sounds</button>
      </mat-card-actions>
      <mat-card-content>
        <div *ngFor="let toySound of toySounds">
          {{ toySound }}
        </div>
      </mat-card-content>

    </mat-card>
    <mat-card>
      <mat-card-title>
          ToyCat (CatAdapter)
      </mat-card-title>
      <mat-card-subtitle>
          It's a toy, but imitates a cat :O
      </mat-card-subtitle>
      <mat-card-actions>
        <button mat-raised-button (click)="btnCatAdapterSound()" color="primary">Make sounds</button>
      </mat-card-actions>
      <mat-card-content>

        <div *ngFor="let catAdapterSound of catAdapterSounds">
          {{ catAdapterSound }}
        </div>
      </mat-card-content>

    </mat-card>
  </div>
</div>
