<div class="container">
  <h1>
    Iterator Pattern
  </h1>
  <div class="content">
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Add item to collection</mat-label>
          <input matInput placeholder="Some value" [(ngModel)]="value" id="input">
        </mat-form-field>
        <button mat-raised-button (click)="btnAddItemToCollection(value)" color="primary">Add Item</button>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="btnSliceCollectionItems()" color="primary">Get items</button>
      </mat-card-actions>
      <mat-card-content>
        <div>
          {{ output }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
