button {
  margin-bottom: 5px;
}

button:last-child {
  margin-bottom: 0;
}

div {
  text-align: center;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.content {
  display: flex;
  flex-direction: row;
}

mat-card {
  margin: 15px;
  max-width: 300px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}
