mat-card {
  width: 570px;
  max-width: 570px;
}

mat-card.fruit {
  width: 80px;
  max-width: 80px;
}

mat-card.fruit {
  width: 80px;
  max-width: 80px;
}

div.fruits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
