<mat-card>
  <mat-card-title>
    Creational Pattern
  </mat-card-title>
  <mat-card-content>
    <a mat-raised-button [routerLink]="['/abstract-factory']" routerLinkActive="abstract-factory" color="primary">
      Abstract Factory
    </a>
    <a mat-raised-button [routerLink]="['/factory-method']" routerLinkActive="factory-method" color="primary">
      Factory Method
    </a>
    <a mat-raised-button [routerLink]="['/builder']" routerLinkActive="builder" color="primary">
      Builder
    </a>
    <a mat-raised-button [routerLink]="['/singleton']" routerLinkActive="singleton" color="primary">
      Singleton
    </a>
    <a mat-raised-button [routerLink]="['/prototype']" routerLinkActive="prototype" color="primary">
      Prototype
    </a>
  </mat-card-content>
</mat-card>
