<div class="container">
  <mat-card>
    <mat-card-title>
      Creational Patterns
    </mat-card-title>
    <mat-card-content>
      <a mat-raised-button [routerLink]="['/abstract-factory']" routerLinkActive="abstract-factory" color="primary">
        Abstract Factory
      </a>
      <a mat-raised-button [routerLink]="['/factory-method']" routerLinkActive="factory-method" color="primary">
        Factory Method
      </a>
      <a mat-raised-button [routerLink]="['/builder']" routerLinkActive="builder" color="primary">
        Builder
      </a>
      <a mat-raised-button [routerLink]="['/singleton']" routerLinkActive="singleton" color="primary">
        Singleton
      </a>
      <a mat-raised-button [routerLink]="['/prototype']" routerLinkActive="prototype" color="primary">
        Prototype
      </a>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Structural Patterns
    </mat-card-title>
    <mat-card-content>
      <a mat-raised-button [routerLink]="['/adapter']" routerLinkActive="adapter" color="primary">
        Adapter
      </a>
      <a mat-raised-button [routerLink]="['/bridge']" routerLinkActive="bridge" color="primary">
        Bridge
      </a>
      <a mat-raised-button [routerLink]="['/composite']" routerLinkActive="composite" color="primary">
        Composite
      </a>
      <a mat-raised-button [routerLink]="['/facade']" routerLinkActive="facade" color="primary">
        Facade
      </a>
      <a mat-raised-button [routerLink]="['/decorator']" routerLinkActive="decorator" color="primary">
        Decorator
      </a>
      <a mat-raised-button [routerLink]="['/proxy']" routerLinkActive="proxy" color="primary">
        Proxy
      </a>

      <a mat-raised-button [routerLink]="['/flyweight']" routerLinkActive="flyweight" color="primary">
        Flyweight
      </a>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Behavioral Patterns
    </mat-card-title>
    <mat-card-content>
      <a mat-raised-button [routerLink]="['/mediator']" routerLinkActive="mediator" color="primary">
        Mediator
      </a>
      <a mat-raised-button [routerLink]="['/iterator']" routerLinkActive="iterator" color="primary">
        Iterator
      </a>
      <a mat-raised-button [routerLink]="['/memento']" routerLinkActive="memento" color="primary">
        Memento
      </a>
      <a mat-raised-button [routerLink]="['/strategy']" routerLinkActive="strategy" color="primary">
        Strategy
      </a>
      <a mat-raised-button [routerLink]="['/command']" routerLinkActive="command" color="primary">
        Command
      </a>
      <a mat-raised-button [routerLink]="['/observer']" routerLinkActive="observer" color="primary">
        Observer
      </a>
      <a mat-raised-button [routerLink]="['/visitor']" routerLinkActive="visitor" color="primary">
        Visitor
      </a>
      <a mat-raised-button [routerLink]="['/state']" routerLinkActive="state" color="primary">
        State
      </a>
      <a mat-raised-button [routerLink]="['/template-method']" routerLinkActive="template-method" color="primary">
        Template Method
      </a>

    </mat-card-content>
  </mat-card>
</div>
