/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div.container {
  height: 100%;
  width: 100%;
}

div.description {
  margin: 0 30px 30px;
}

div.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
