<div class="container">
  <h1>
    Memento Pattern (Snapshot)
  </h1>
  <div class="content">
    <mat-card>
      <mat-card-content class="mat-content">
        <div>
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput placeholder="Default Card" [(ngModel)]="title" id="inputTitle">
          </mat-form-field>
          <button mat-raised-button (click)="btnChangeTitle(title)" color="primary">Change title</button>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput placeholder="Default card for a lot of use cases" [(ngModel)]="description" id="inputDescription">
          </mat-form-field>
          <button mat-raised-button (click)="btnChangeDescription(description)" color="primary">Change description</button>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Color</mat-label>
            <input matInput placeholder="Red" [(ngModel)]="color" id="inputColor">
          </mat-form-field>
          <button mat-raised-button (click)="btnChangeColor(color)" color="primary">Change Color</button>
        </div>
        <div>
          <mat-divider></mat-divider>
        </div>
        <div class="title-backups">
          <h3><b>Backups until change:</b></h3>
        </div>
        <div *ngFor="let memento of history">
          <div>{{ memento.getDate() }}</div>
          <div>{{ memento.getState().title }}</div>
          <div>{{ memento.getState().description }}</div>
          <div>{{ memento.getState().color }}</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
